.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
}

.incomes, .expenses, .accounts {
  background: #f5f4f4;
  border-radius: 20px;
  width: 70%;
  margin: 10px auto 10px auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
}

.account_element, .expense_element, .income_element {
  margin: 15px;
  height: 115px;
  .circle {
    width: 90px;
    height: 90px;
    font-size: 14px;
    border-radius: 100px;
    font-family: 'PT Sans', serif;
  }
}

.account_element_name, .expense_element_name, .income_element_name {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center
}

.account_element_sum, .expense_element_sum, .income_element_sum {
  text-align: center;
}